
.corps {
    background: white;
    padding: 20px;
}
#primary-nav ul li ul.itemList{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 128px;
    margin-right: 3px;
    border: 2px solid #FFFFFF;
    background-color: #000000;
}

ul.itemList li{
    color : white;
}

small {
display: block;
line-height: 1.428571429;
color: #999;
}